In [1]:
import pandas as pd
import numpy as np

marin = pd.read_csv('../data/intermediate/Max_Animals_MARIN_data.csv', index_col=0)
marin['Sampling Period'] = marin['Sampling Period'].apply(lambda x: str(x).replace('.', '-'))
marin['Year'] = marin['Sampling Period'].apply(lambda x: x[0:4])

In [2]:
marin.head()

,Sampling Period,Project ID_x,Deployment Location ID,Species,Number of Animals,Year
0,2014-09,ChedaJewel,WW63,fuscipes,1,2014
1,2014-09,ChedaJewel,WW63,griseus,1,2014
2,2014-09,ChedaJewel,WW63,hemionus,2,2014
3,2014-09,ChedaJewel,WW63,lotor,1,2014
4,2014-09,ChedaJewel,WW63,maniculatus,1,2014

In [4]:
lat_long.columns

Index([u'Project.ID', u'Deployment.ID', u'Image.ID', u'Location',
       u'Photo.Type', u'Photo.Type.Identified.by', u'Genus.Species',
       u'Uncertainty', u'IUCN.Identification.Number', u'Date_Time.Captured',
       u'Age', u'Sex', u'Individual.ID', u'Count',
       u'Animal.recognizable..Y.N.', u'individual.Animal.notes',
       u'Project.ID.x', u'Event', u'Array.Name', u'Deployment.Location.ID',
       u'Longitude.Resolution', u'Latitude.Resolution',
       u'Camera.Deployment.Begin.Date', u'Camera.Deployment.End.Date',
       u'Bait.Type', u'Bait.Description', u'Feature.Type',
       u'Feature.Type.methodology', u'Camera.ID', u'Quiet.Period.Setting',
       u'Restriction.on.access', u'Camera.Failure.Details', u'Project.ID.y',
       u'Make', u'Model', u'Serial.Number', u'Year.Purchased', u'Genus',
       u'Species'],
      dtype='object')

In [7]:
lat_long[['Longitude.Resolution','Latitude.Resolution']].head(5)

   Longitude.Resolution  Latitude.Resolution
1           -122.749029            38.038821
2           -122.749029            38.038821
3           -122.749029            38.038821
4           -122.749029            38.038821
5           -122.749029            38.038821

In [3]:
lat_long = pd.read_csv('../data/intermediate/Marin_Merged.csv', index_col=0)
lat_long = lat_long[['Sampling Unit Name', 'Latitude.Resolution', 'Longitude.Resolution']] 
lat_long.rename({'Latitude.Resolution': 'Latitude', 'Longitude.Resolution': 'Longitude'})
lat_long = lat_long.drop_duplicates('Sampling Unit Name').reset_index()

KeyError: "['Sampling Unit Name' 'Latitude' 'Longitude'] not in index"

In [ ]:

team = pd.merge(team, lat_long, on=['Sampling Unit Name'], how='left')
team['Sampling Type'] = 'Annual'
team['Data Source'] = 'TEAM'

rate = pd.read_csv('../data/intermediate/team_trap_days.csv')
rate['Sampling.Period'] = rate['Sampling.Period'].apply(lambda x: str(x).replace('.', '-'))

team = pd.merge(team, rate, left_on= ['Sampling Unit Name', 'Sampling Period'], how = 'inner',
         right_on = ['Deployment.Location.ID', 'Sampling.Period'])
team['trap_days_per_100'] = team['trap_days']/100.
team['Rate Of Detection'] = team['Number of Animals']/team['trap_days_per_100']
del team['trap_days_per_100']
del team['trap_days']

team.to_csv('../data/processed/rate_of_detection.csv', index=False)