In [1]:
import pandas as pd
import numpy as np
import datetime

marin = pd.read_csv('../data/intermediate/Max_Animals_MARIN_data.csv', index_col=0)
marin['Sampling Period'] = marin['Sampling Period'].apply(lambda x: str(x).replace('.', '-'))
marin['Year'] = marin['Sampling Period'].apply(lambda x: x[0:4])

In [2]:
marin['Sampling Period'] = marin['Sampling Period'].apply(lambda x: 
                                                          datetime.datetime.strptime(x, '%Y-%m'))
marin['Sampling Period'].value_counts()

2014-10-01    61
2014-12-01    59
2016-02-01    50
2015-01-01    50
2016-01-01    49
2015-02-01    44
2015-12-01    44
2014-11-01    42
2015-03-01    40
2015-11-01    37
2015-04-01    36
2015-09-01    32
2015-06-01    28
2016-03-01    28
2015-05-01    26
2015-08-01    25
2014-09-01    24
2015-07-01    24
2015-10-01    21
2016-04-01     1
dtype: int64

In [3]:
lat_long = pd.read_csv('../data/intermediate/Marin_Merged.csv', index_col=0)
lat_long = lat_long[['Deployment.Location.ID', 'Latitude.Resolution', 'Longitude.Resolution']] 
lat_long = lat_long.rename(columns = {'Deployment.Location.ID':'Deployment Location ID',
                 'Latitude.Resolution': 'Latitude', 
                 'Longitude.Resolution': 'Longitude'})
lat_long = lat_long.drop_duplicates('Deployment Location ID').reset_index()
del lat_long['index']

In [4]:
lat_long.head()

  Deployment Location ID   Latitude   Longitude
0                   WW64  38.038821 -122.749029
1                   XX63  38.043090 -122.743715
2                   WW63  38.043094 -122.749595
3                   WW65  38.034152 -122.749170
4                   XX64  38.038710 -122.743536

In [5]:
marin = pd.merge(marin, lat_long, on=['Deployment Location ID'], how='left')
marin['Data Source'] = 'MARIN'

In [6]:
rate = pd.read_csv('../data/intermediate/marin_trap_nights.csv')

rate['Month'] = rate['Month'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m'))

marin = pd.merge(marin, rate, left_on= ['Deployment Location ID', 'Sampling Period'], how = 'inner',
         right_on = ['Deployment.Location.ID', 'Month'])
marin.head()

,Sampling Period,Project ID.1,Deployment Location ID,Genus,Species,Number of Animals,Year,Latitude,Longitude,Data Source,Unnamed: 0,Project.ID,Deployment.Location.ID,Month,Trapnights
0,2014-09-01,ChedaJewel,WW63,Neotoma,fuscipes,1,2014,38.043094,-122.749595,MARIN,3,ChedaJewel,WW63,2014-09-01,9
1,2014-09-01,ChedaJewel,WW63,Odocoileus,hemionus,2,2014,38.043094,-122.749595,MARIN,3,ChedaJewel,WW63,2014-09-01,9
2,2014-09-01,ChedaJewel,WW63,Peromyscus,maniculatus,1,2014,38.043094,-122.749595,MARIN,3,ChedaJewel,WW63,2014-09-01,9
3,2014-09-01,ChedaJewel,WW63,Procyon,lotor,1,2014,38.043094,-122.749595,MARIN,3,ChedaJewel,WW63,2014-09-01,9
4,2014-09-01,ChedaJewel,WW63,Sciurus,griseus,1,2014,38.043094,-122.749595,MARIN,3,ChedaJewel,WW63,2014-09-01,9

In [7]:
marin['Sampling Period'].value_counts()

2014-10-01    61
2014-12-01    59
2016-02-01    50
2015-01-01    50
2016-01-01    49
2015-02-01    44
2015-12-01    44
2014-11-01    42
2015-03-01    40
2015-11-01    37
2015-04-01    36
2015-09-01    32
2015-06-01    28
2016-03-01    28
2015-05-01    26
2015-08-01    25
2014-09-01    24
2015-07-01    24
2015-10-01    21
2016-04-01     1
dtype: int64

In [8]:
marin['trap_days_per_100'] = marin['Trapnights']/100.
marin['Rate Of Detection'] = marin['Number of Animals']/marin['trap_days_per_100']
marin['Sampling Period'] = marin['Sampling Period'].apply(lambda x: x.month)
marin['Sampling Type'] = 'Monthly'

In [9]:
marin['Sampling Period'].value_counts()

12    103
1      99
2      94
10     82
11     79
3      68
9      56
4      37
6      28
5      26
8      25
7      24
dtype: int64

In [10]:
marin.columns

Index([u'Sampling Period', u'Project ID.1', u'Deployment Location ID',
       u'Genus', u'Species', u'Number of Animals', u'Year', u'Latitude',
       u'Longitude', u'Data Source', u'Unnamed: 0', u'Project.ID',
       u'Deployment.Location.ID', u'Month', u'Trapnights',
       u'trap_days_per_100', u'Rate Of Detection', u'Sampling Type'],
      dtype='object')

In [11]:
marin.rename(columns = {'Latitude' : 'Latitude Resolution',
                        'Longitude' :'Longitude Resolution',
                       'Project.ID' : 'Project ID'}, inplace = True)

marin = marin[['Data Source', 'Project ID', 'Deployment Location ID', 'Latitude Resolution', 'Longitude Resolution', 
'Sampling Type', 'Sampling Period', 'Year', 'Genus', 'Species', 'Rate Of Detection']]

In [12]:
marin.head(100)

,Data Source,Project ID,Deployment Location ID,Latitude Resolution,Longitude Resolution,Sampling Type,Sampling Period,Year,Genus,Species,Rate Of Detection
0,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,9,2014,Neotoma,fuscipes,11.111111
1,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,9,2014,Odocoileus,hemionus,22.222222
2,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,9,2014,Peromyscus,maniculatus,11.111111
3,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,9,2014,Procyon,lotor,11.111111
4,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,9,2014,Sciurus,griseus,11.111111
5,MARIN,ChedaJewel,WW64,38.038821,-122.749029,Monthly,9,2014,Odocoileus,hemionus,11.111111
6,MARIN,ChedaJewel,WW64,38.038821,-122.749029,Monthly,9,2014,Sciurus,griseus,11.111111
7,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,9,2014,Mephitis,mephitis,11.111111
8,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,9,2014,Odocoileus,hemionus,11.111111
9,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,9,2014,Sciurus,griseus,22.222222
10,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,9,2014,Urocyon,cinereoargenteus,11.111111
11,MARIN,ChedaJewel,WW66,38.029709,-122.749492,Monthly,9,2014,Odocoileus,hemionus,22.222222
12,MARIN,ChedaJewel,XX63,38.043090,-122.743715,Monthly,9,2014,Bos,taurus,11.111111
13,MARIN,ChedaJewel,XX63,38.043090,-122.743715,Monthly,9,2014,Lynx,rufus,11.111111
14,MARIN,ChedaJewel,XX63,38.043090,-122.743715,Monthly,9,2014,Mephitis,mephitis,11.111111
15,MARIN,ChedaJewel,XX63,38.043090,-122.743715,Monthly,9,2014,Odocoileus,hemionus,11.111111
16,MARIN,ChedaJewel,XX63,38.043090,-122.743715,Monthly,9,2014,Urocyon,cinereoargenteus,11.111111
17,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,9,2014,Odocoileus,hemionus,11.111111
18,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,9,2014,Sciurus,griseus,11.111111
19,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,9,2014,Lynx,rufus,11.111111
20,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,9,2014,Odocoileus,hemionus,11.111111
21,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,9,2014,Odocoileus,hemionus,14.285714
22,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,9,2014,Procyon,lotor,14.285714
23,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,9,2014,Urocyon,cinereoargenteus,14.285714
24,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Bos,taurus,3.225806
25,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Canis,latrans,3.225806
26,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Cyanocitta,stelleri,3.225806
27,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Neotoma,fuscipes,3.225806
28,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Odocoileus,hemionus,3.225806
29,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,10,2014,Procyon,lotor,6.451613
...,...,...,...,...,...,...,...,...,...,...,...
70,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,10,2014,Odocoileus,hemionus,6.451613
71,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,10,2014,Procyon,lotor,3.225806
72,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,10,2014,Sciurus,griseus,3.225806
73,MARIN,ChedaJewel,XX64,38.038710,-122.743536,Monthly,10,2014,Tamias,sonomae,3.225806
74,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,10,2014,Callipepla,californica,4.166667
75,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,10,2014,Canis,latrans,4.166667
76,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,10,2014,Odocoileus,hemionus,4.166667
77,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,10,2014,Procyon,lotor,4.166667
78,MARIN,ChedaJewel,YY63,38.043270,-122.738221,Monthly,10,2014,Urocyon,cinereoargenteus,4.166667
79,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Catharus,guttatus,3.225806
80,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Didelphis,virginiana,3.225806
81,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Mephitis,mephitis,3.225806
82,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Odocoileus,hemionus,6.451613
83,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Sciurus,griseus,3.225806
84,MARIN,ChedaJewel,YY64,38.038760,-122.737918,Monthly,10,2014,Urocyon,cinereoargenteus,3.225806
85,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Colaptes,auratus,3.333333
86,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Ixoreus,naevius,3.333333
87,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Lynx,rufus,3.333333
88,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Neotoma,fuscipes,3.333333
89,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Odocoileus,hemionus,10.000000
90,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Procyon,lotor,6.666667
91,MARIN,ChedaJewel,WW63,38.043094,-122.749595,Monthly,11,2014,Sciurus,griseus,3.333333
92,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Ixoreus,naevius,3.333333
93,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Lynx,rufus,3.333333
94,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Odocoileus,hemionus,6.666667
95,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Procyon,lotor,6.666667
96,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Sciurus,griseus,3.333333
97,MARIN,ChedaJewel,WW65,38.034152,-122.749170,Monthly,11,2014,Urocyon,cinereoargenteus,3.333333
98,MARIN,ChedaJewel,WW66,38.029709,-122.749492,Monthly,11,2014,Lynx,rufus,3.333333
99,MARIN,ChedaJewel,WW66,38.029709,-122.749492,Monthly,11,2014,Odocoileus,hemionus,3.333333

In [13]:
marin.to_csv('../data/processed/rate_of_detection_MARIN.csv', index=False)