In [261]:
import pandas as pd, os, numpy as np, datetime, math

In [45]:
os.chdir('/Users/simonaaksman/Desktop/Git/datadive_201608_ci')
data = './data/processed/'
os.chdir(data)

In [144]:
marin = pd.read_csv('Marin_Merged.csv')
team = pd.read_csv('Terrestrial_Vertebrate_Cols_Edited.csv')

In [294]:
marin_max = pd.read_csv('Max_Animals_MARIN_data.csv')
team_max = pd.read_csv('Max_Animals_TEAM_data.csv')

In [298]:
team_max.head()

,Unnamed: 0,Sampling Period,Site Name,Sampling Unit Name,Species,Number of Animals
0,0,2007.01,Volcán Barva,CT-VB-1-1,major,1
1,1,2007.01,Volcán Barva,CT-VB-1-1,marsupialis,1
2,2,2007.01,Volcán Barva,CT-VB-1-1,novemcinctus,1
3,3,2007.01,Volcán Barva,CT-VB-1-1,paca,1
4,4,2007.01,Volcán Barva,CT-VB-1-1,punctata,1

In [56]:
marin.columns

Index([u'Unnamed: 0', u'Project.ID', u'Deployment.ID', u'Image.ID',
       u'Location', u'Photo.Type', u'Photo.Type.Identified.by',
       u'Genus.Species', u'Uncertainty', u'IUCN.Identification.Number',
       u'Date_Time.Captured', u'Age', u'Sex', u'Individual.ID', u'Count',
       u'Animal.recognizable..Y.N.', u'individual.Animal.notes',
       u'Project.ID.x', u'Event', u'Array.Name', u'Deployment.Location.ID',
       u'Longitude.Resolution', u'Latitude.Resolution',
       u'Camera.Deployment.Begin.Date', u'Camera.Deployment.End.Date',
       u'Bait.Type', u'Bait.Description', u'Feature.Type',
       u'Feature.Type.methodology', u'Camera.ID', u'Quiet.Period.Setting',
       u'Restriction.on.access', u'Camera.Failure.Details', u'Project.ID.y',
       u'Make', u'Model', u'Serial.Number', u'Year.Purchased', u'Genus',
       u'Species'],
      dtype='object')

In [55]:
team.columns

Index([u'Unnamed: 0', u'ID', u'Project.ID', u'Deployment.Location.ID',
       u'Latitude.Resolution', u'Longitude.Resolution', u'Sampling.Period',
       u'Photo.Type', u'Photo.Date', u'Photo.Time', u'Image.ID',
       u'Photo.Notes', u'Location', u'Class', u'Order', u'Family', u'Genus',
       u'Species', u'Count', u'Photo.Type.Identified.by',
       u'Camera.Serial.Number', u'Memory.Card.Serial.Number', u'Camera.Notes',
       u'Camera.Deployment.Begin.Date', u'Camera.Deployment.End.Date',
       u'Person.setting.up.the.Camera', u'Person.picking.up.the.Camera',
       u'Camera.Make', u'Camera.Model', u'Flash', u'Exposure.Time',
       u'Sequence.Info', u'Triplet.Number', u'Moon.Phase', u'Temperature',
       u'Camera.Firmware.Version', u'Protocol.Version',
       u'Data.Set.Creator.Institutions', u'Data.Set.Creator.Scientist',
       u'Data.Set.Contact', u'Data.Level'],
      dtype='object')

In [91]:
# Number of locations 

len(set(team['Deployment.Location.ID']))

1058

In [101]:
# Number of projects

len(set(team['Project.ID']))

17

In [104]:
# Number of unique identifiers

len(set(team['ID']))

2286513

UI Layer Columns:
    
Data Source,Project ID,Deployment Location ID,Latitude Resolution,
Longitude Resolution,Sampling Type,Sampling Period,Year,Genus,Species,Rate Of Detection

In [342]:
marin_simple = marin[['Project.ID',
'Location',
'Latitude.Resolution',
'Longitude.Resolution',
'Deployment.Location.ID',
'Camera.Deployment.Begin.Date',
'Camera.Deployment.End.Date',
'Genus', 'Species']]


marin_simple_per_location = marin_simple.groupby(['Project.ID', 
                                                'Deployment.Location.ID', 
                      'Camera.Deployment.Begin.Date',
                      'Camera.Deployment.End.Date'])

In [343]:
marin_simple_per_location.head()

,Project.ID,Location,Latitude.Resolution,Longitude.Resolution,Deployment.Location.ID,Camera.Deployment.Begin.Date,Camera.Deployment.End.Date,Genus,Species
0,ChedaJewel,07APRIL_02JUNE15PORE_JEWELL_WW64_2 (1).JPG,38.038821,-122.749029,WW64,2015-04-07,2015-06-02,NaN,NaN
1,ChedaJewel,07APRIL_02JUNE15PORE_JEWELL_WW64_2 (10).JPG,38.038821,-122.749029,WW64,2015-04-07,2015-06-02,NaN,NaN
2,ChedaJewel,07APRIL_02JUNE15PORE_JEWELL_WW64_2 (100).JPG,38.038821,-122.749029,WW64,2015-04-07,2015-06-02,NaN,NaN
3,ChedaJewel,07APRIL_02JUNE15PORE_JEWELL_WW64_2 (101).JPG,38.038821,-122.749029,WW64,2015-04-07,2015-06-02,NaN,NaN
4,ChedaJewel,07APRIL_02JUNE15PORE_JEWELL_WW64_2 (102).JPG,38.038821,-122.749029,WW64,2015-04-07,2015-06-02,NaN,NaN
5268,ChedaJewel,08JAN_22FEB16PORE_CHEDA_XX63_2 (1).JPG,38.043090,-122.743715,XX63,2016-01-08,2016-02-22,Ixoreus,naevius
5269,ChedaJewel,08JAN_22FEB16PORE_CHEDA_XX63_2 (10).JPG,38.043090,-122.743715,XX63,2016-01-08,2016-02-22,Ixoreus,naevius
5270,ChedaJewel,08JAN_22FEB16PORE_CHEDA_XX63_2 (100).JPG,38.043090,-122.743715,XX63,2016-01-08,2016-02-22,Melozone,crissalis
5271,ChedaJewel,08JAN_22FEB16PORE_CHEDA_XX63_2 (101).JPG,38.043090,-122.743715,XX63,2016-01-08,2016-02-22,Melozone,crissalis
5272,ChedaJewel,08JAN_22FEB16PORE_CHEDA_XX63_2 (102).JPG,38.043090,-122.743715,XX63,2016-01-08,2016-02-22,Melozone,crissalis
6472,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW63 (1).JPG,38.043094,-122.749595,WW63,2016-01-13,2016-02-22,NaN,NaN
6473,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW63 (10).JPG,38.043094,-122.749595,WW63,2016-01-13,2016-02-22,Aphelocoma,unknown
6474,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW63 (100).JPG,38.043094,-122.749595,WW63,2016-01-13,2016-02-22,Aphelocoma,unknown
6475,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW63 (101).JPG,38.043094,-122.749595,WW63,2016-01-13,2016-02-22,Aphelocoma,unknown
6476,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW63 (102).JPG,38.043094,-122.749595,WW63,2016-01-13,2016-02-22,Aphelocoma,unknown
6919,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW64 (1).JPG,38.038821,-122.749029,WW64,2016-01-13,2016-02-22,NaN,NaN
6920,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW64 (10).JPG,38.038821,-122.749029,WW64,2016-01-13,2016-02-22,Odocoileus,hemionus
6921,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW64 (100).JPG,38.038821,-122.749029,WW64,2016-01-13,2016-02-22,Sciurus,griseus
6922,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW64 (101).JPG,38.038821,-122.749029,WW64,2016-01-13,2016-02-22,NaN,NaN
6923,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW64 (102).JPG,38.038821,-122.749029,WW64,2016-01-13,2016-02-22,NaN,NaN
7117,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW65 (1).JPG,38.034152,-122.749170,WW65,2016-01-13,2016-02-22,NaN,NaN
7118,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW65 (10).JPG,38.034152,-122.749170,WW65,2016-01-13,2016-02-22,NaN,NaN
7119,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW65 (100).JPG,38.034152,-122.749170,WW65,2016-01-13,2016-02-22,Urocyon,cinereoargenteus
7120,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW65 (101).JPG,38.034152,-122.749170,WW65,2016-01-13,2016-02-22,NaN,NaN
7121,ChedaJewel,13JAN_22FEB16PORE_JEWELL_WW65 (102).JPG,38.034152,-122.749170,WW65,2016-01-13,2016-02-22,NaN,NaN
7855,ChedaJewel,14APRIL_2JUNE15PORE_CHEDA_XX63_1(1).JPG,38.043090,-122.743715,XX63,2015-04-14,2015-06-02,NaN,NaN
7856,ChedaJewel,14APRIL_2JUNE15PORE_CHEDA_XX63_1(10).JPG,38.043090,-122.743715,XX63,2015-04-14,2015-06-02,NaN,NaN
7857,ChedaJewel,14APRIL_2JUNE15PORE_CHEDA_XX63_1(100).JPG,38.043090,-122.743715,XX63,2015-04-14,2015-06-02,NaN,NaN
7858,ChedaJewel,14APRIL_2JUNE15PORE_CHEDA_XX63_1(101).JPG,38.043090,-122.743715,XX63,2015-04-14,2015-06-02,NaN,NaN
7859,ChedaJewel,14APRIL_2JUNE15PORE_CHEDA_XX63_1(102).JPG,38.043090,-122.743715,XX63,2015-04-14,2015-06-02,NaN,NaN
...,...,...,...,...,...,...,...,...,...
148304,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW64 (1).JPG,38.038821,-122.749029,WW64,2015-02-04,2015-04-07,NaN,NaN
148305,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW64 (10).JPG,38.038821,-122.749029,WW64,2015-02-04,2015-04-07,Aphelocoma,unknown
148306,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW64 (100).JPG,38.038821,-122.749029,WW64,2015-02-04,2015-04-07,Odocoileus,hemionus
148307,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW64 (101).JPG,38.038821,-122.749029,WW64,2015-02-04,2015-04-07,Odocoileus,hemionus
148308,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW64 (102).JPG,38.038821,-122.749029,WW64,2015-02-04,2015-04-07,Odocoileus,hemionus
149030,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW65_1 (1).JPG,38.034152,-122.749170,WW65,2015-02-04,2015-04-07,NaN,NaN
149031,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW65_1 (10).JPG,38.034152,-122.749170,WW65,2015-02-04,2015-04-07,NaN,NaN
149032,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW65_1 (100).JPG,38.034152,-122.749170,WW65,2015-02-04,2015-04-07,Odocoileus,hemionus
149033,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW65_1 (101).JPG,38.034152,-122.749170,WW65,2015-02-04,2015-04-07,Odocoileus,hemionus
149034,ChedaJewel,4FEB_7APR15PORE_JEWEL_WW65_1 (102).JPG,38.034152,-122.749170,WW65,2015-02-04,2015-04-07,Odocoileus,hemionus
151133,ChedaJewel,7APRIL_03JUNE15PORE_JEWELL_WW63 (1).JPG,38.043094,-122.749595,WW63,2015-04-07,2015-06-02,NaN,NaN
151134,ChedaJewel,7APRIL_03JUNE15PORE_JEWELL_WW63 (10).JPG,38.043094,-122.749595,WW63,2015-04-07,2015-06-02,Neotoma,fuscipes
151135,ChedaJewel,7APRIL_03JUNE15PORE_JEWELL_WW63 (100).JPG,38.043094,-122.749595,WW63,2015-04-07,2015-06-02,NaN,NaN
151136,ChedaJewel,7APRIL_03JUNE15PORE_JEWELL_WW63 (101).JPG,38.043094,-122.749595,WW63,2015-04-07,2015-06-02,NaN,NaN
151137,ChedaJewel,7APRIL_03JUNE15PORE_JEWELL_WW63 (102).JPG,38.043094,-122.749595,WW63,2015-04-07,2015-06-02,NaN,NaN
152084,ChedaJewel,7APRIL_2JUNE15PORE_JEWELL_WW65_1(1).JPG,38.034152,-122.749170,WW65,2015-04-07,2015-06-02,NaN,NaN
152085,ChedaJewel,7APRIL_2JUNE15PORE_JEWELL_WW65_1(10).JPG,38.034152,-122.749170,WW65,2015-04-07,2015-06-02,Odocoileus,hemionus
152086,ChedaJewel,7APRIL_2JUNE15PORE_JEWELL_WW65_1(100).JPG,38.034152,-122.749170,WW65,2015-04-07,2015-06-02,NaN,NaN
152087,ChedaJewel,7APRIL_2JUNE15PORE_JEWELL_WW65_1(101).JPG,38.034152,-122.749170,WW65,2015-04-07,2015-06-02,NaN,NaN
152088,ChedaJewel,7APRIL_2JUNE15PORE_JEWELL_WW65_1(102).JPG,38.034152,-122.749170,WW65,2015-04-07,2015-06-02,NaN,NaN
153266,ChedaJewel,8JAN_22FEB16PORE_CHEDA_XX64 (1).JPG,38.038710,-122.743536,XX64,2016-01-08,2016-02-22,NaN,NaN
153267,ChedaJewel,8JAN_22FEB16PORE_CHEDA_XX64 (10).JPG,38.038710,-122.743536,XX64,2016-01-08,2016-02-22,Peromyscus,unknown
153268,ChedaJewel,8JAN_22FEB16PORE_CHEDA_XX64 (100).JPG,38.038710,-122.743536,XX64,2016-01-08,2016-02-22,Odocoileus,hemionus
153269,ChedaJewel,8JAN_22FEB16PORE_CHEDA_XX64 (101).JPG,38.038710,-122.743536,XX64,2016-01-08,2016-02-22,Odocoileus,hemionus
153270,ChedaJewel,8JAN_22FEB16PORE_CHEDA_XX64 (102).JPG,38.038710,-122.743536,XX64,2016-01-08,2016-02-22,Odocoileus,hemionus
153821,ChedaJewel,8JAN_22FEB16PORE_CHEDA_YY64 (1).JPG,38.038760,-122.737918,YY64,2016-01-08,2016-02-22,NaN,NaN
153822,ChedaJewel,8JAN_22FEB16PORE_CHEDA_YY64 (10).JPG,38.038760,-122.737918,YY64,2016-01-08,2016-02-22,Ixoreus,naevius
153823,ChedaJewel,8JAN_22FEB16PORE_CHEDA_YY64 (100).JPG,38.038760,-122.737918,YY64,2016-01-08,2016-02-22,Odocoileus,hemionus
153824,ChedaJewel,8JAN_22FEB16PORE_CHEDA_YY64 (101).JPG,38.038760,-122.737918,YY64,2016-01-08,2016-02-22,Odocoileus,hemionus
153825,ChedaJewel,8JAN_22FEB16PORE_CHEDA_YY64 (102).JPG,38.038760,-122.737918,YY64,2016-01-08,2016-02-22,Odocoileus,hemionus

In [344]:
marin_simple_per_location = marin_simple_per_location.count().reset_index()

In [345]:
marin_simple_per_location['Camera.Deployment.Begin.Date_datetime'] = marin_simple_per_location['Camera.Deployment.Begin.Date'].apply(lambda x: 
                                                                    datetime.datetime.strptime(x, '%Y-%m-%d'))

marin_simple_per_location['Camera.Deployment.End.Date_datetime'] = marin_simple_per_location['Camera.Deployment.End.Date'].apply(lambda x: 
                                                                    datetime.datetime.strptime(x, '%Y-%m-%d'))

In [347]:
marin_simple_per_location['trapnights'] = (marin_simple_per_location['Camera.Deployment.End.Date_datetime'] 
                                          - 
        marin_simple_per_location['Camera.Deployment.Begin.Date_datetime']).astype(pd.Timedelta).apply(lambda l: l.days)

In [349]:
from dateutil.relativedelta import *

def get_month_day_range(date):

#    For a date 'date' returns the start and end date for the month of 'date'.
#    Month with 31 days:
#    >>> date = datetime.date(2011, 7, 27)
#    >>> get_month_day_range(date)
#    (datetime.date(2011, 7, 1), datetime.date(2011, 7, 31))
#    Month with 28 days:
#    >>> date = datetime.date(2011, 2, 15)
#    >>> get_month_day_range(date)
#    (datetime.date(2011, 2, 1), datetime.date(2011, 2, 28))
    last_day = date + relativedelta(day=1, months=+1, days=-1)
    first_day = date + relativedelta(day=1)
    return last_day - first_day

In [375]:
def genCountByMonth(start, end):
    totalcount = (end - start).days
    currentstart = start
    newcount = totalcount
    nextmonth = start
    df = pd.DataFrame({'A' : [0], 'B': [0]})
    while newcount > calendar.monthrange(nextmonth.year, nextmonth.month)[1]:
        newcount = newcount - get_month_day_range(currentstart)
        nextmonth = currentmonth + relativedelta(months=1)
        try:
            df = df.append( pd.DataFrame(currentstart.month, get_month_day_range(currentstart)))
        except:
            df = pd.DataFrame(currentstart.month, get_month_day_range(currentstart))
    df = df.append(pd.DataFrame(nextmonth.month, newcount))

In [376]:
genCountByMonth(marin_simple_per_location['Camera.Deployment.Begin.Date_datetime'][0],
               marin_simple_per_location['Camera.Deployment.End.Date_datetime'][0])

PandasError: DataFrame constructor not properly called!

In [350]:
import calendar
marin_simple_per_location['Month_Begin'] = marin_simple_per_location['Camera.Deployment.Begin.Date_datetime'].apply(lambda x:
                                                                                               get_month_day_range(x))
marin_simple_per_location['Month_End'] = marin_simple_per_location['Camera.Deployment.End.Date_datetime'].apply(lambda x:
                                                                                               get_month_day_range(x))

marin_simple_per_location['Month_End'] = marin_simple_per_location['Camera.Deployment.End.Date_datetime'].apply(lambda x:
                                                                                               get_month_day_range(x))

,Project.ID,Deployment.Location.ID,Camera.Deployment.Begin.Date,Camera.Deployment.End.Date,Location,Latitude.Resolution,Longitude.Resolution,Genus,Species,Camera.Deployment.Begin.Date_datetime,Camera.Deployment.End.Date_datetime,trapnights,Month_Begin,Month_End
0,ChedaJewel,WW63,2014-09-22,2014-10-17,462,462,462,235,235,2014-09-22,2014-10-17,25,29 days,30 days
1,ChedaJewel,WW63,2014-10-17,2014-12-17,2562,2562,2562,1881,1881,2014-10-17,2014-12-17,61,30 days,30 days
2,ChedaJewel,WW63,2014-12-17,2015-02-04,1906,1906,1906,1663,1663,2014-12-17,2015-02-04,49,30 days,27 days
3,ChedaJewel,WW63,2015-02-04,2015-04-07,1256,1256,1256,970,970,2015-02-04,2015-04-07,62,27 days,29 days
4,ChedaJewel,WW63,2015-04-07,2015-06-02,951,951,951,634,634,2015-04-07,2015-06-02,56,29 days,29 days
5,ChedaJewel,WW63,2015-06-02,2015-07-22,381,381,381,217,217,2015-06-02,2015-07-22,50,29 days,30 days
6,ChedaJewel,WW63,2015-07-22,2015-09-14,525,525,525,406,406,2015-07-22,2015-09-14,54,30 days,29 days
7,ChedaJewel,WW63,2015-09-14,2015-11-19,492,492,492,242,242,2015-09-14,2015-11-19,66,29 days,29 days
8,ChedaJewel,WW63,2015-11-19,2016-01-13,756,756,756,318,318,2015-11-19,2016-01-13,55,29 days,30 days
9,ChedaJewel,WW63,2016-01-13,2016-02-22,447,447,447,194,194,2016-01-13,2016-02-22,40,30 days,28 days
10,ChedaJewel,WW63,2016-02-22,2016-03-29,930,930,930,596,596,2016-02-22,2016-03-29,36,28 days,30 days
11,ChedaJewel,WW64,2014-09-22,2014-10-17,327,327,327,130,130,2014-09-22,2014-10-17,25,29 days,30 days
12,ChedaJewel,WW64,2014-10-17,2014-12-17,813,813,813,0,0,2014-10-17,2014-12-17,61,30 days,30 days
13,ChedaJewel,WW64,2014-12-17,2015-02-04,627,627,627,501,501,2014-12-17,2015-02-04,49,30 days,27 days
14,ChedaJewel,WW64,2015-02-04,2015-04-07,726,726,726,507,507,2015-02-04,2015-04-07,62,27 days,29 days
15,ChedaJewel,WW64,2015-04-07,2015-06-02,6267,6267,6267,383,383,2015-04-07,2015-06-02,56,29 days,29 days
16,ChedaJewel,WW64,2015-06-02,2015-07-15,7767,7767,7767,316,316,2015-06-02,2015-07-15,43,29 days,30 days
17,ChedaJewel,WW64,2015-07-15,2015-09-14,6803,6803,6803,61,61,2015-07-15,2015-09-14,61,30 days,29 days
18,ChedaJewel,WW64,2015-09-14,2015-11-19,42,42,42,35,35,2015-09-14,2015-11-19,66,29 days,29 days
19,ChedaJewel,WW64,2015-11-19,2016-01-13,417,417,417,303,303,2015-11-19,2016-01-13,55,29 days,30 days
20,ChedaJewel,WW64,2016-01-13,2016-02-22,198,198,198,112,112,2016-01-13,2016-02-22,40,30 days,28 days
21,ChedaJewel,WW65,2014-09-22,2014-10-17,385,385,385,271,271,2014-09-22,2014-10-17,25,29 days,30 days
22,ChedaJewel,WW65,2014-10-17,2014-12-17,913,913,913,711,711,2014-10-17,2014-12-17,61,30 days,30 days
23,ChedaJewel,WW65,2014-12-17,2015-02-04,1248,1248,1248,998,998,2014-12-17,2015-02-04,49,30 days,27 days
24,ChedaJewel,WW65,2015-02-04,2015-04-07,1104,1104,1104,886,886,2015-02-04,2015-04-07,62,27 days,29 days
25,ChedaJewel,WW65,2015-04-07,2015-06-02,1182,1182,1182,888,888,2015-04-07,2015-06-02,56,29 days,29 days
26,ChedaJewel,WW65,2015-06-02,2015-07-15,1017,1017,1017,852,852,2015-06-02,2015-07-15,43,29 days,30 days
27,ChedaJewel,WW65,2015-07-15,2015-09-14,621,621,621,457,457,2015-07-15,2015-09-14,61,30 days,29 days
28,ChedaJewel,WW65,2015-09-14,2015-11-19,538,538,538,407,407,2015-09-14,2015-11-19,66,29 days,29 days
29,ChedaJewel,WW65,2015-11-19,2016-01-13,1441,1441,1441,1204,1204,2015-11-19,2016-01-13,55,29 days,30 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,ChedaJewel,XX64,2014-09-22,2014-10-17,402,402,402,242,242,2014-09-22,2014-10-17,25,29 days,30 days
53,ChedaJewel,XX64,2014-10-17,2014-12-17,1470,1470,1470,988,988,2014-10-17,2014-12-17,61,30 days,30 days
54,ChedaJewel,XX64,2014-12-17,2015-02-04,2350,2350,2350,760,760,2014-12-17,2015-02-04,49,30 days,27 days
55,ChedaJewel,XX64,2015-02-04,2015-03-26,750,750,750,159,159,2015-02-04,2015-03-26,50,27 days,30 days
56,ChedaJewel,XX64,2015-03-26,2015-06-02,2271,2271,2271,149,149,2015-03-26,2015-06-02,68,30 days,29 days
57,ChedaJewel,XX64,2015-06-02,2015-07-15,385,385,385,166,166,2015-06-02,2015-07-15,43,29 days,30 days
58,ChedaJewel,XX64,2015-07-15,2015-09-14,3279,3279,3279,207,207,2015-07-15,2015-09-14,61,30 days,29 days
59,ChedaJewel,XX64,2015-09-14,2015-11-16,1218,1218,1218,221,221,2015-09-14,2015-11-16,63,29 days,29 days
60,ChedaJewel,XX64,2016-01-08,2016-02-22,555,555,555,327,327,2016-01-08,2016-02-22,45,30 days,28 days
61,ChedaJewel,XX64,2016-02-22,2016-03-28,861,861,861,379,379,2016-02-22,2016-03-28,35,28 days,30 days
62,ChedaJewel,YY63,2014-09-22,2014-10-17,4925,4925,4925,5,5,2014-09-22,2014-10-17,25,29 days,30 days
63,ChedaJewel,YY63,2014-10-24,2014-12-22,7689,7689,7689,100,100,2014-10-24,2014-12-22,59,30 days,30 days
64,ChedaJewel,YY63,2014-12-22,2015-02-04,4962,4962,4962,1853,1853,2014-12-22,2015-02-04,44,30 days,27 days
65,ChedaJewel,YY63,2015-02-04,2015-03-23,2609,2609,2609,1807,1807,2015-02-04,2015-03-23,47,27 days,30 days
66,ChedaJewel,YY63,2015-03-23,2015-06-02,7830,7830,7830,1180,1180,2015-03-23,2015-06-02,71,30 days,29 days
67,ChedaJewel,YY63,2015-06-02,2015-07-22,7808,7808,7808,102,102,2015-06-02,2015-07-22,50,29 days,30 days
68,ChedaJewel,YY63,2015-09-14,2015-11-16,7743,7743,7743,76,76,2015-09-14,2015-11-16,63,29 days,29 days
69,ChedaJewel,YY63,2015-11-16,2015-12-15,147,147,147,125,125,2015-11-16,2015-12-15,29,29 days,30 days
70,ChedaJewel,YY63,2015-12-15,2016-01-08,57,57,57,21,21,2015-12-15,2016-01-08,24,30 days,30 days
71,ChedaJewel,YY64,2014-09-24,2014-10-24,465,465,465,260,260,2014-09-24,2014-10-24,30,29 days,30 days
72,ChedaJewel,YY64,2014-10-24,2014-12-22,1233,1233,1233,903,903,2014-10-24,2014-12-22,59,30 days,30 days
73,ChedaJewel,YY64,2014-12-22,2015-02-04,1185,1185,1185,905,905,2014-12-22,2015-02-04,44,30 days,27 days
74,ChedaJewel,YY64,2015-02-04,2015-03-26,783,783,783,344,344,2015-02-04,2015-03-26,50,27 days,30 days
75,ChedaJewel,YY64,2015-03-26,2015-06-18,5028,5028,5028,590,590,2015-03-26,2015-06-18,84,30 days,29 days
76,ChedaJewel,YY64,2015-06-19,2015-07-22,1023,1023,1023,123,123,2015-06-19,2015-07-22,33,29 days,30 days
77,ChedaJewel,YY64,2015-07-22,2015-09-14,75,75,75,31,31,2015-07-22,2015-09-14,54,30 days,29 days
78,ChedaJewel,YY64,2015-09-14,2015-11-16,1952,1952,1952,705,705,2015-09-14,2015-11-16,63,29 days,29 days
79,ChedaJewel,YY64,2015-11-16,2016-01-08,912,912,912,694,694,2015-11-16,2016-01-08,53,29 days,30 days
80,ChedaJewel,YY64,2016-01-08,2016-02-22,612,612,612,448,448,2016-01-08,2016-02-22,45,30 days,28 days
81,ChedaJewel,YY64,2016-02-22,2016-03-28,279,279,279,207,207,2016-02-22,2016-03-28,35,28 days,30 days

In [ ]:
def genCountByMonth(Datetime start, Datetime end):
    result = {}
    current = start
    while(current < end){
       nearestEndMonth = #api
       count = nearestMonthDt - current
       result['Month'] = count
       current = nearestEndMonth
   }
    return result

In [330]:
marin_simple_per_location['Month'] = marin_simple_per_location['Camera.Deployment.Begin.Date_datetime'].apply(lambda x: datetime.datetime.strptime(str(x), '%m'))

ValueError: unconverted data remains: 014-09-22 00:00:00

In [317]:
marin_simple_per_location[['Deployment.Location.ID','Camera.Deployment.Begin.Date_datetime',
                          'Camera.Deployment.End.Date_datetime','trapnights']]

,Deployment.Location.ID,Camera.Deployment.Begin.Date_datetime,Camera.Deployment.End.Date_datetime,trapnights
0,WW63,2014-09-22,2014-10-17,25
1,WW63,2014-10-17,2014-12-17,61
2,WW63,2014-12-17,2015-02-04,49
3,WW63,2015-02-04,2015-04-07,62
4,WW63,2015-04-07,2015-06-02,56
5,WW63,2015-06-02,2015-07-22,50
6,WW63,2015-07-22,2015-09-14,54
7,WW63,2015-09-14,2015-11-19,66
8,WW63,2015-11-19,2016-01-13,55
9,WW63,2016-01-13,2016-02-22,40
10,WW63,2016-02-22,2016-03-29,36
11,WW64,2014-09-22,2014-10-17,25
12,WW64,2014-10-17,2014-12-17,61
13,WW64,2014-12-17,2015-02-04,49
14,WW64,2015-02-04,2015-04-07,62
15,WW64,2015-04-07,2015-06-02,56
16,WW64,2015-06-02,2015-07-15,43
17,WW64,2015-07-15,2015-09-14,61
18,WW64,2015-09-14,2015-11-19,66
19,WW64,2015-11-19,2016-01-13,55
20,WW64,2016-01-13,2016-02-22,40
21,WW65,2014-09-22,2014-10-17,25
22,WW65,2014-10-17,2014-12-17,61
23,WW65,2014-12-17,2015-02-04,49
24,WW65,2015-02-04,2015-04-07,62
25,WW65,2015-04-07,2015-06-02,56
26,WW65,2015-06-02,2015-07-15,43
27,WW65,2015-07-15,2015-09-14,61
28,WW65,2015-09-14,2015-11-19,66
29,WW65,2015-11-19,2016-01-13,55
...,...,...,...,...
52,XX64,2014-09-22,2014-10-17,25
53,XX64,2014-10-17,2014-12-17,61
54,XX64,2014-12-17,2015-02-04,49
55,XX64,2015-02-04,2015-03-26,50
56,XX64,2015-03-26,2015-06-02,68
57,XX64,2015-06-02,2015-07-15,43
58,XX64,2015-07-15,2015-09-14,61
59,XX64,2015-09-14,2015-11-16,63
60,XX64,2016-01-08,2016-02-22,45
61,XX64,2016-02-22,2016-03-28,35
62,YY63,2014-09-22,2014-10-17,25
63,YY63,2014-10-24,2014-12-22,59
64,YY63,2014-12-22,2015-02-04,44
65,YY63,2015-02-04,2015-03-23,47
66,YY63,2015-03-23,2015-06-02,71
67,YY63,2015-06-02,2015-07-22,50
68,YY63,2015-09-14,2015-11-16,63
69,YY63,2015-11-16,2015-12-15,29
70,YY63,2015-12-15,2016-01-08,24
71,YY64,2014-09-24,2014-10-24,30
72,YY64,2014-10-24,2014-12-22,59
73,YY64,2014-12-22,2015-02-04,44
74,YY64,2015-02-04,2015-03-26,50
75,YY64,2015-03-26,2015-06-18,84
76,YY64,2015-06-19,2015-07-22,33
77,YY64,2015-07-22,2015-09-14,54
78,YY64,2015-09-14,2015-11-16,63
79,YY64,2015-11-16,2016-01-08,53
80,YY64,2016-01-08,2016-02-22,45
81,YY64,2016-02-22,2016-03-28,35

In [316]:
marin_simple_per_location.head()

,Project.ID,Deployment.Location.ID,Camera.Deployment.Begin.Date,Camera.Deployment.End.Date,Location,Latitude.Resolution,Longitude.Resolution,Genus,Species,Camera.Deployment.Begin.Date_datetime,Camera.Deployment.End.Date_datetime,trapnights
0,ChedaJewel,WW63,2014-09-22,2014-10-17,462,462,462,235,235,2014-09-22,2014-10-17,25
1,ChedaJewel,WW63,2014-10-17,2014-12-17,2562,2562,2562,1881,1881,2014-10-17,2014-12-17,61
2,ChedaJewel,WW63,2014-12-17,2015-02-04,1906,1906,1906,1663,1663,2014-12-17,2015-02-04,49
3,ChedaJewel,WW63,2015-02-04,2015-04-07,1256,1256,1256,970,970,2015-02-04,2015-04-07,62
4,ChedaJewel,WW63,2015-04-07,2015-06-02,951,951,951,634,634,2015-04-07,2015-06-02,56

In [290]:
team_simple_per_location['Camera.Deployment.Begin.Date_datetime'] = team_simple_per_location['Camera.Deployment.Begin.Date'].apply(lambda x: 
                                                                    datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

team_simple_per_location['Camera.Deployment.End.Date_datetime'] = team_simple_per_location['Camera.Deployment.End.Date'].apply(lambda x: 
                                                                    datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [ ]:
import calendar

for i in range(1,len(team_simple_per_location)):
    team_simple_per_location['Months'] = calendar.monthrange()

In [286]:
team_simple = team[['Project.ID',
'Location',
'Latitude.Resolution',
'Longitude.Resolution',
'Sampling.Period',
'Deployment.Location.ID',
'Camera.Deployment.Begin.Date',
'Camera.Deployment.End.Date',
'Camera.Serial.Number',
'Genus', 'Species']]


team_simple_per_location = team_simple.groupby(['Project.ID', 
                                                'Deployment.Location.ID', 
                      'Camera.Deployment.Begin.Date',
                      'Camera.Deployment.End.Date'])

In [289]:
team_simple_per_location = team_simple_per_location.count().reset_index()

In [299]:
team_simple_per_location.head()

,Project.ID,Deployment.Location.ID,Camera.Deployment.Begin.Date,Camera.Deployment.End.Date,Location,Latitude.Resolution,Longitude.Resolution,Sampling.Period,Camera.Serial.Number,Genus,Species,Camera.Deployment.Begin.Date_datetime,Camera.Deployment.End.Date_datetime,trapnights
0,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2011-01-15 14:08:46,2011-02-21 12:17:23,250,251,251,251,251,250,250,2011-01-15 14:08:46,2011-02-21 12:17:23,36
1,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2011-12-16 10:55:02,2012-01-18 11:12:03,310,311,311,311,311,280,280,2011-12-16 10:55:02,2012-01-18 11:12:03,33
2,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2012-12-21 13:49:05,2013-01-20 15:08:01,580,581,581,581,581,580,580,2012-12-21 13:49:05,2013-01-20 15:08:01,30
3,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2013-12-21 10:46:02,2014-01-20 11:27:01,520,521,521,521,521,520,520,2013-12-21 10:46:02,2014-01-20 11:27:01,30
4,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2014-12-15 00:00:00,2015-01-21 12:00:00,610,611,611,611,611,610,610,2014-12-15 00:00:00,2015-01-21 12:00:00,37

In [288]:
assert(len(team_simple_per_location['Project.ID']) == 5328)

# APPENDIX

In [ ]:
import csv
import datetime
import calendar

with open('Terrestrial_Vertebrate_Cols_Edited.csv', 'r') as csvfile:
   spamreader = csv.reader(csvfile,delimiter=',')
   next(spamreader, None)  # skip the headers
   new_dataset = []
   for row in spamreader:
       date_1 = datetime.datetime.strptime(row[23], '%Y-%m-%d %H:%M:%S')
       last_date = date_1
       for i in range(0,32): # add new ? rows
           end_date = last_date
           (w,d) = calendar.monthrange(end_date.year, end_date.month) #get the last day in the month
           end_date = end_date.replace(day = d) #replace it
           new_row = row.copy()
           new_row[23] = datetime.datetime.strftime(end_date, '%Y-%m-%d %H:%M:%S')
           new_dataset.append(new_row)
           last_date = end_date #memorize the last day + 1 (go to the next month)

In [300]:
team_trap_days = pd.read_csv('team_trap_days.csv')

In [301]:
team_trap_days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5328 entries, 0 to 5327
Data columns (total 4 columns):
Project.ID                5328 non-null object
Deployment.Location.ID    5328 non-null object
Sampling.Period           5328 non-null float64
trap_days                 5328 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.1+ KB