In [1]:
import pandas as pd, numpy as np, datetime, math, calendar

In [2]:
team = pd.read_csv('../data/StandardizedData/Terrestrial_Vertebrate_Cols_Edited.csv')

/Users/terencekwt/Code/datadive_201608_ci/env/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,20,21,22,27,28,30,31,32,33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#columns of the marin dataset
team.columns

Index([u'Unnamed: 0', u'ID', u'Project.ID', u'Deployment.Location.ID',
       u'Latitude.Resolution', u'Longitude.Resolution', u'Sampling.Period',
       u'Photo.Type', u'Photo.Date', u'Photo.Time', u'Image.ID',
       u'Photo.Notes', u'Location', u'Class', u'Order', u'Family', u'Genus',
       u'Species', u'Count', u'Photo.Type.Identified.by',
       u'Camera.Serial.Number', u'Memory.Card.Serial.Number', u'Camera.Notes',
       u'Camera.Deployment.Begin.Date', u'Camera.Deployment.End.Date',
       u'Person.setting.up.the.Camera', u'Person.picking.up.the.Camera',
       u'Camera.Make', u'Camera.Model', u'Flash', u'Exposure.Time',
       u'Sequence.Info', u'Triplet.Number', u'Moon.Phase', u'Temperature',
       u'Camera.Firmware.Version', u'Protocol.Version',
       u'Data.Set.Creator.Institutions', u'Data.Set.Creator.Scientist',
       u'Data.Set.Contact', u'Data.Level'],
      dtype='object')

In [5]:
# Number of locations 

len(set(team['Deployment.Location.ID']))

1058

In [25]:
# Number of projects

len(set(team['Project.ID']))

17

In [27]:
# SELECT the projections that we actually need
team_simple = team[['Project.ID',
'Deployment.Location.ID',
'Camera.Deployment.Begin.Date',
'Camera.Deployment.End.Date',
'Sampling.Period']]


team_simple_per_location = team_simple.groupby(['Project.ID', 'Deployment.Location.ID', 'Camera.Deployment.Begin.Date', 'Camera.Deployment.End.Date','Sampling.Period'])
team_simple_per_location

In [28]:
team_simple_per_location = team_simple_per_location.count().reset_index()

In [29]:
team_simple_per_location['Camera.Deployment.Begin.Date_datetime'] = pd.to_datetime(team_simple_per_location['Camera.Deployment.Begin.Date'])
team_simple_per_location['Camera.Deployment.End.Date_datetime'] = pd.to_datetime(team_simple_per_location['Camera.Deployment.End.Date'])

team_simple_per_location['trapnights'] = (team_simple_per_location['Camera.Deployment.End.Date_datetime'] 
                                          - 
        team_simple_per_location['Camera.Deployment.Begin.Date_datetime']).astype(pd.Timedelta).apply(lambda l: max(1, l.days))

In [30]:
team_simple_per_location.head()

,Project.ID,Deployment.Location.ID,Camera.Deployment.Begin.Date,Camera.Deployment.End.Date,Sampling.Period,Camera.Deployment.Begin.Date_datetime,Camera.Deployment.End.Date_datetime,trapnights
0,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2011-01-15 14:08:46,2011-02-21 12:17:23,2010.01,2011-01-15 14:08:46,2011-02-21 12:17:23,36
1,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2011-12-16 10:55:02,2012-01-18 11:12:03,2011.01,2011-12-16 10:55:02,2012-01-18 11:12:03,33
2,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2012-12-21 13:49:05,2013-01-20 15:08:01,2012.01,2012-12-21 13:49:05,2013-01-20 15:08:01,30
3,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2013-12-21 10:46:02,2014-01-20 11:27:01,2013.01,2013-12-21 10:46:02,2014-01-20 11:27:01,30
4,Barro Colorado Nature Monument - Soberania Nat...,CT-BCI-1-01,2014-12-15 00:00:00,2015-01-21 12:00:00,2014.01,2014-12-15 00:00:00,2015-01-21 12:00:00,37

In [32]:
team_simple_per_location.to_csv('team_dataset_trapnights.csv')